.chat
  .chat__main
    .header__main--box
      .header__main--box-left
        %h5.group_name name of group
        %h6.menbers_list Member: test-user
      .header__main--box-right  
        %a.btn_edit Edit
    .message
      = render partial: 'message', collection: @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
